@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/c/font_4552300_7dkhovldsgw.woff2?t=1717672360897') format('woff2'),
    url('//at.alicdn.com/t/c/font_4552300_7dkhovldsgw.woff?t=1717672360897') format('woff'),
    url('//at.alicdn.com/t/c/font_4552300_7dkhovldsgw.ttf?t=1717672360897') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e68c";
}

.icon-liebiao:before {
  content: "\e607";
}

.icon-zuojiantou:before {
  content: "\e629";
}

.icon-xianshimima:before {
  content: "\e68a";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-iconfontemail:before {
  content: "\e608";
}

.icon-zuoji:before {
  content: "\e683";
}

.icon-facebook-fill:before {
  content: "\e88d";
}

.icon-weizhi:before {
  content: "\e671";
}

.icon-youjiantou:before {
  content: "\e6b5";
}

.icon-caidan:before {
  content: "\e60b";
}